@import 'fonts-awesome/font-awesome';

@font-face {
    font-family: 'volte-bold';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Volte/Volte-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Volte/Volte-Bold.otf') format('opentype'),
    url('../fonts/Volte/Volte-Bold.woff') format('woff'), url('../fonts/Volte/Volte-Bold.ttf') format('truetype'), url('../fonts/Volte/Volte-Bold.svg#../fonts/Volte/Volte-Bold') format('svg');
}

@font-face {
    font-family: 'volte-light';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Volte/Volte-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Volte/Volte-Light.otf') format('opentype'),
    url('../fonts/Volte/Volte-Light.woff') format('woff'), url('../fonts/Volte/Volte-Light.ttf') format('truetype'), url('../fonts/Volte/Volte-Light.svg#../fonts/Volte/Volte-Light') format('svg');
}

@font-face {
    font-family: 'volte-medium';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Volte/Volte-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Volte/Volte-Medium.otf') format('opentype'),
    url('../fonts/Volte/Volte-Medium.woff') format('woff'), url('../fonts/Volte/Volte-Medium.ttf') format('truetype'), url('../fonts/Volte/Volte-Medium.svg#../fonts/Volte/Volte-Medium') format('svg');
}

@font-face {
    font-family: 'volte-regular';
    font-style: normal;
    font-weight: normal;

    src: url('../../fonts/Volte/Volte-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Volte/Volte-Regular.otf') format('opentype'),
    url('../fonts/Volte/Volte-Regular.woff') format('woff'), url('../fonts/Volte/Volte-Regular.ttf') format('truetype'), url('../fonts/Volte/Volte-Regular.svg#../fonts/Volte/Volte-Regular') format('svg');
}

@font-face {
    font-family: 'volte-semibold';
    font-style: normal;
    font-weight: normal;

    src: url('../fonts/Volte/Volte-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/Volte/Volte-Semibold.otf') format('opentype'),
    url('../fonts/Volte/Volte-Semibold.woff') format('woff'), url('../fonts/Volte/Volte-Semibold.ttf') format('truetype'), url('../fonts/Volte/Volte-Semibold.svg#../fonts/Volte/Volte-Semibold') format('svg');
}
