/*****************/
/**** Colors ****/
/***************/


$body-color: #f5f6f8;
$navbar-custom-color: #f5f6f6;
$header-overlay-color: rgba(44, 61, 79, .88);
$comeet-main-color: #29cdb5;
$color-blue: #2c3d4f;
$color-blue-disabled: #a5aab0;
$color-grey: #697d8f;
$color-happytech: #eeb33f;
$color-happytech-light: #E1C060;
$color-header-subtitle: rgba(238, 238, 238, 0.5);

/*****************/
/**** Fonts *****/
/***************/

$volte-light: "volte-light";
$volte-regular: "volte-regular";
$volte-medium: "volte-medium";
$volte-bold: "volte-bold";
